.address {
  margin: 37px 0;
  padding: 42px 0;
  border-top: 1px solid $color-gray-very-light;
  border-bottom: 1px solid $color-gray-very-light;

  &__title {
    margin: 0 0 37px;
    line-height: 24px;
    color: $color-gray-very-dark;
    font-size: 21px;
    font-weight: normal;

    @media (max-width: $width-tablet-portrait) {
      text-align: center;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 29px;
      height: 36px;
      margin-right: 10px;
      background: url('../images/icon-marker.png') 50% no-repeat;
      background-size: contain;
      vertical-align: middle;

      @media (max-width: $width-tablet-portrait) {
        display: block;
        margin: 0 auto 10px;
      }
    }
  }

  &__row {
    @include outer-container;

    .ie8 & {
      overflow: hidden;
    }
  }

  &__col {
    @include span-columns(3);

    @media (max-width: $width-tablet-portrait) {
      @include span-columns(12);
    }

    .ie8 &--last {
      margin-right: 0;
    }
  }

  &__city {
    margin: 0;
    line-height: 22px;
    color: $color-gray-very-dark;
    text-align: center;
    font-size: 15px;
  }

  &__description {
    margin: 0 0 18px;
    line-height: 22px;
    color: $color-gray-very-dark;
    text-align: center;
    font-size: 15px;
  }
}