.app {
  min-width: 1060px;
  background: $color-gray-very-light;

  @media (max-width: $width-full + $break-point-gap) {
    min-width: $width-tablet;
  }

  @media (max-width: $width-tablet + $break-point-gap) {
    min-width: $width-tablet-portrait;
  }

  @media (max-width: $width-tablet-portrait + $break-point-gap) {
    min-width: 0;
  }

  &__container {
    margin: 0;
  }
}