.award {
  margin: 56px 0 46px;

  &__row {
    display: table;
    width: 100%;

    @media (max-width: $width-tablet-portrait) {
      display: block;
    }
  }

  &__col {
    display: table-cell;
    width: 19%;
    text-align: center;

    @media (max-width: $width-tablet-portrait) {
      display: block;
      width: auto;
      margin-bottom: 15px;
      text-align: center;
    }

    &--min-width {
      width: 1px;

      @media (max-width: $width-tablet-portrait) {
        width: auto;
      }
    }
  }

  &__img {
    margin-bottom: 10px;
  }
  &__title {
    line-height: 16px;
    color: $color-gray-light;
    white-space: nowrap;
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
  }
}