.button {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 12px 6px;
  outline: none;
  border: 1px solid $color-orange-dark;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow:inset 0 1px 0 0 rgba($color-white, .2);
  color: $color-white;
  font-size: 16px;
  cursor: pointer;
  transition: all 250ms;

  background: $color-orange;
  background: $color-orange linear-gradient(to bottom, $color-orange-light 0%, $color-orange-dark 100%);

  &:hover {
    background: $color-orange-light;
  }
}