$color-black: #080808;
$color-white: #fff;
$color-gray: #373737;
$color-gray-very-light: #e4e4e4;
$color-gray-light: #999;
$color-gray-dark: #686f76;
$color-gray-very-dark: #494949;
$color-blue: #0083d0;
$color-blue-light: #b3c3d0;
$color-orange: #ff7700;
$color-orange-dark: #ff6600;
$color-orange-light: #ff8900;
$color-yellow: #fffadf;