.definition {
  &__row {
    @include outer-container;

    .ie8 & {
      overflow: hidden;
    }
  }

  &__col {
    @include span-columns(4);

    @media (max-width: $width-tablet-portrait) {
      @include span-columns(12);
    }

    .ie8 &--last {
      margin-right: 0;
    }
  }

  &__title {
    margin: 6px 0 23px;
    line-height: 24px;
    color: $color-gray;
    font-size: 21px;
    font-weight: normal;
  }

  &__text {
    margin: 23px 0;
    color: $color-gray;
    font-size: 15px;
    line-height: 22px;
  }

  &__list {
    margin: 23px 0;
    padding: 0;
    line-height: 22px;
    font-size: 15px;
  }

  &__list-item {
    position: relative;
    margin: 0;
    list-style: none;

    &:before {
      content: '';
      position: absolute;
      left: -8px;
      top: 9px;
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background: $color-orange;
    }
  }
}