.form {
  position: absolute;
  right: 0;
  bottom: 105px;
  width: 220px;
  z-index: 10;

  @media (max-width: $width-tablet + $break-point-gap) {
    position: static;
    width: auto;
    max-width: 400px;
    margin: 0 auto;
  }

  &__title {
    margin: 22px 0;
    text-align: center;
    color: $color-white;
    font-size: 15px;
    font-weight: bold;

  }

  &__container {}

  &__input {
    position: relative;

    label {
      &.error {
        display: block;
        margin-top: -2px;
        color: $color-white;
        font-size: 11px;

        @media (min-width: $width-tablet - 1px + $break-point-gap) {
          position: absolute;
          right: 100%;
          top: 0;
          margin-top: 0;
          margin-right: 5px;
          padding: 5px 7px;
          border-radius: 3px;
          background: red;
          line-height: 18px;
          white-space: nowrap;
        }
      }
    }
  }

  &__input-text {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0;
    padding: 5px 7px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: $color-white;
    line-height: 18px;
    font-size: 15px;

    &--no-margin {
      margin: 0;

      & + label.error {
        margin-top: 0;
      }
    }
  }

  &__input-select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0;
    padding: 5px 7px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: $color-white;
    line-height: 18px;
    font-size: 15px;
  }

  &__captcha {
    display: block;
    height: auto;
    min-width: 84px;
  }

  &__captcha-update {
    width: 28px;
    height: 28px;
    margin: 0 5px;
    border-radius: 3px;
    background: $color-gray-dark url('../images/icon-reload.png') 50% no-repeat;
    background-size: contain;
    cursor: pointer;

    &:hover {
      background-color: lighten($color-gray-very-dark, 10%);
    }
  }

  &__description {
    margin: 12px 0;
    text-align: center;
    color: $color-blue-light;
    font-size: 13px;
  }

  &__row {
    display: table;
    width: 100%;
  }

  &__cell-4-75 {
    display: table-cell;
    width: 1px;
    vertical-align: top;
  }

  &__cell-1-75 {
    display: table-cell;
    width: 1px;
    vertical-align: top;
  }

  &__cell-5-5 {
    display: table-cell;
    vertical-align: top;
  }
}