.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 $default-padding;
  box-sizing: border-box;
  z-index: 10;

  &__container {
    position: relative;
    max-width: $default-width;
    margin: 0 auto;

    @media (max-width: $width-full) {
      max-width: $width-tablet;
    }

    @media (max-width: $width-tablet) {
      max-width: $width-tablet-portrait;
    }
  }

  &__logo {
    position: absolute;
    left: 0;
    top: 48px;

    @media (max-width: $width-tablet-portrait + $break-point-gap) {
      right: 0;
      top: 24px;
      margin: auto;
    }
  }

  &__support {
    position: absolute;
    right: 100px;
    top: 51px;
    color: $color-white;
    font-size: 11px;

    @media (max-width: $width-tablet-portrait + $break-point-gap) {
      left: 0;
      right: 0;
      top: 75px;
      margin: auto;
      text-align: center;
    }
  }

  &__phone {
    padding: 0 10px;
    color: $color-white;
    font-size: 16px;
    font-weight: bold;

    @media (max-width: $width-tablet-portrait + $break-point-gap) {
      display: block;
    }
  }

  &__chat {
    position: absolute;
    right: 2px;
    top: 54px;
    border-bottom: 1px solid;
    color: $color-white;
    font-size: 12px;
    text-decoration: none;

    @media (max-width: $width-tablet-portrait + $break-point-gap) {
      display: none;
    }

    .no-touch &:hover {
      border-bottom: 1px dashed;
    }
  }
}