.note {
  position: relative;
  padding: 18px 0 3px;

  &__title {
    display: inline-block;
    color: $color-blue;
    cursor: help;
  }

  &__popup {
    display: none;
    position: absolute;
    left: -25px;
    bottom: 100%;
    width: 100%;
    padding: 12px 25px;
    box-sizing: content-box;
    background: $color-yellow;
    border-radius: 3px;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 5.8%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 7px 0 7px;
      border-color: $color-yellow transparent transparent transparent;
    }

    &--visible {
      display: block;
    }

    &--static {
      position: relative;
      margin: 14px 0 0;

      &:after {
        display: none;
      }
    }
  }

  &__popup-text {
    margin: 12px 0;
    color: $color-gray-very-dark;
    line-height: 18px;
    font-size: 12px;
    font-weight: normal;
  }

  &__popup-row {
    @include outer-container;
  }

  &__popup-col {
    @include span-columns(6);

    @media (max-width: $width-tablet-portrait) {
      @include span-columns(12);
    }
  }
}