.page {
  position: relative;
  z-index: 1;

  &__container {
    max-width: $width-full;
    border-radius: 6px;
    margin: -62px auto 37px;
    padding: 50px;
    box-sizing: border-box;
    background: $color-white;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.15);

    @media (max-width: $width-full + $break-point-gap) {
      max-width: $width-tablet;
    }

    @media (max-width: $width-tablet + $break-point-gap) {
      max-width: $width-tablet-portrait;
      padding: 25px;
    }
  }

  &__hr {
    width: 100%;
    height: 1px;
    margin: 33px 0;
    padding: 0;
    border: none;
    outline: none;
    background: $color-gray-very-light;
  }
}