.radio {
  display: table;
  width: 100%;
  margin: 5px 0;
  vertical-align: middle;

  &__title {
    display: table-cell;
    width: 1px;
    padding-right: 6px;
    color: $color-white;
    font-size: 12px;
  }

  &__button {
    display: table-cell;
    text-align: center;
  }

  &__input {
    display: none;
  }

  &__label {
    display: block;
    margin: 0 1px;
    padding: 7px 4px 6px;
    color: $color-white;
    cursor: pointer;
    background: $color-gray-dark;
    font-size: 13px;

    &:hover {
      background: lighten($color-gray-very-dark, 10%);
    }

    &--first {
      margin: 0;
      border-radius: 3px 0 0 3px;
    }

    &--last {
      margin: 0;
      border-radius: 0 3px 3px 0;
    }

    &--checked {
      background: $color_white;
      color: $color-gray;

      &:hover {
        background: $color_white;
      }
    }
  }
}